span{
    display:block;
    font-size: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    ;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  
P { text-align: center ;}

#para {
    font-weight: bold;
    background-color: white;
}